body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    background-color: #f5f5f5;
}

.containerMain {
    text-align: center;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    width: 10%;
    border: red 2px solid;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
}

.logo {
    font-style: italic;
    font-size: 24px;
}

.signin {
    background-color: #2f2e2e;
    width:100%;
    height: 100%;
    color: white;
}

.signup {
    width:100%;
    height: 100%;
    background-color: #2f2e2e;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.product-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-box img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.product-box p {
    margin-bottom: 10px;
}

.product-box button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.product-box button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}

div.align-right {
    text-align: right;
    padding: 10px;
    background-color: #333;
}

div.align-right a {
    color: white;
    text-decoration: none;
}

