<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>SimpleServletAppStructure</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>TechStore</servlet-name>
        <servlet-class>com.example.wt_laba2.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TechStore</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/TechStore</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <jsp-file>/WEB-INF/JSP/SingUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/WEB-INF/JSP/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <jsp-file>/WEB-INF/JSP/Cart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckoutOrder</servlet-name>
        <jsp-file>/WEB-INF/JSP/Checkout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutOrder</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Administrator</servlet-name>
        <jsp-file>/WEB-INF/JSP/Administrator.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/Administrator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1000</session-timeout>
    </session-config>
    <filter>
        <filter-name>FilterUser</filter-name>
        <filter-class>com.example.wt_laba2.filter.FilterUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterUser</filter-name>
        <url-pattern>/ShoppingCart</url-pattern>
        <url-pattern>/Checkout</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>com.example.wt_laba2.filter.FilterAdmin</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/Administrator</url-pattern>
    </filter-mapping>
</web-app>